@font-face {
	font-family: "marker";
	src: url("CoveredByYourGrace.woff2") format('woff2');
	font-weight: 600;
	font-style: normal;
}


body {
	background: radial-gradient(#e2c4b7 50%, gray);
	min-height: 100vh;
	overflow: hidden;
}

.light {
	position: absolute;
	top: 0;
	width: 900px; /* 300% scale */
	filter: drop-shadow(0 0 0.8rem #fcc480);
	pointer-events: none;
	z-index: 99;
}
.light.left {
	left: 0;
}
.light.right{
	right: 0;
	transform: scaleX(-1);
}

.content {
	width: 800px;
	max-width: 97%;
	height: 700px;
	max-height: 95%;
	overflow-y: scroll;
	margin: auto;
	border: 0.4rem solid #ededed;
	border-top: 0;
	border-bottom: 0;
	padding: 1rem;

	p {
		color: white;
		font-size: 1.5rem;
		margin-top: 1rem;

		a {
			color: white;
			transition: 0.5s;
		}
		a:hover {
			color: black;
			transition: 0.5s;
		}
	}

	button {
		position: relative;
		margin: 0;
		margin-top: 2rem;
		margin-bottom: -1rem;
		padding: 0;
		border: none;
		background: none;
		font-size: 3rem;
		cursor: pointer;

		h1 {
			color: white;
			font-size: 3rem;
			font-family: "nunito";
			border: 0.3rem solid white;
			padding-left: 1rem;
			padding-right: 1rem;
		}
		h1::before{
			content: '';
			background-color: white;
			display: inline-block;
			position: absolute;
			bottom: 3vh;
			left: 1.5rem;
			width: 0;
			height: 0.1em;
			z-index: -1;
			transition: all 0.3s ease 0s;
		}
		h1:hover::before{
			width: calc(100% - 3rem);
			transition: all 0.3s ease 0s;
		}
	}

	underline {
		text-decoration: underline;
	}
}

.section {
	max-height: 0px;
	overflow: hidden;
	transition: 1.5s ease-in-out;
}
.section p:first-child {
	margin-top: 3rem;
}

.picture {
	width: 30%;
	min-width: 30%;
	margin: 1rem;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	img {
		width: 100%;
	}

	p {
		text-align: center;
		font-size: 1rem;
		font-style: italic;
		line-height: 1rem;
		margin-top: 0.3rem;
		margin-bottom: 0;
	}
}
.picture.left {
	float: left;
}
.picture.right {
	float: right;
}

#follow {
	.button-row {
		display: flex;
		margin-bottom: 1rem;

		p {
			text-align: center;
			margin-top: auto;
			margin-bottom: auto;
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			text-decoration: underline;
		}

		a {
			padding: 3px;
			border: 6px solid transparent;
		}
		a::before {
			height: 0;
		}
		a:hover {
			border: 6px solid var(--color-accent);
		}

		img {
			min-width: 96px;
			min-height: 96px;
		}
	}
}

p.footer {
	position: relative;
	top: 5rem;
	text-align: center;
	font-size: 1rem;
}

.polaroid {
	position: fixed;
	background: white;
	width: 10rem;
	height: 13rem;
	box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.5);

	a::before {
		height: 0;
	}

	img {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10%;
		width: 9rem;
		height: 9rem;
	}

	figcaption {
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.2rem;
		font-family: "marker";
		color: black;
		text-shadow: none;
	}

	.tack {
		position: absolute;
		bottom: 11.25rem;
		left: 2.5rem;
		width: 3rem;
		height: 3rem;
		aspect-ratio: 1 / 1;
		z-index: 2;

	}
	.flip{
		transform: scaleX(-100%);
		left: 3.25rem;
	}
}

.polaroid:hover {
	figcaption {
		text-decoration: underline;
	}
}
