body {
	background-image: url("bg.webp");
	/* background-size: cover; */
}

.title {
	text-align: center;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 20px;
}

.description {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 50px;
	width: 50%;
}

.blog {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	margin: 5px;
	width: 600px;
	height: 500px;
	background: black;
}

	.blog-title {
		font-size: 40px;
		margin-top: 10px;
	}

	.blog-tags {
		font-size: 16px;
		margin-top: -30px;
	}

	.blog-date {
		font-size: 18px;
		font-style: italic;
	}

