body {
	background-image: url("bg.webp");
	text-align: center;
	position: absolute;
}

p {
	color: white;
	font-family: 'Bitter', Comic Sans MS;
	font-size: 24px;
	padding: 50px;
}

img, video {
	position: static;
	margin: 1%;
	max-width: 25%;
	transition: 0.5s ease-in-out;
}
/*img:hover {
	max-width: 100%;
	transition: 0.5s ease-in-out;
}

.scraps {
	white-space: nowrap;
	overflow: clip;
}*/

.sketch {
	width: 900px;
}

.document {
	width: 30%;
	margin: auto;
	font-size: 40px;
	background: black;
	cursor: pointer;
}
