body {
	background-image: url('bg.png');
}

p {
	text-align: left;
}

.container {
	margin-left: 30%;
}

.date {
	text-align: right;
	transform: translateX(-110%);
	margin-bottom: -2.2em;
}

.bridget {
	position: absolute;
	left: 80%;
	bottom: 0;
	height: 15%;
}
