body {
	background: black;
	text-align: center;
	position: absolute;
	right: 5%; left: 5%; top: 10%; bottom: 20%;
	margin: auto;
}

.game {
	padding: 10px;
	transition: all 0.3s ease 0s;
}
	.game:hover {
		border: 4px solid orange;
		border-radius: 1px;
		padding: 20px;
		transition: all 0.3s ease 0s;
	}

.description {
	text-align: left;
	font-size: 20px;
	width: 500px;
	margin-left: 20px;
	margin-right: 20px;
}

.stores {
	display: flex;
	justify-content: left;
	align-items: left;
	gap: 20px;
	margin-left: 20px;
}
	
	.store {
		transition: all 0.1s ease 0s;
	}
		.store:hover {
			border: 2px solid orange;
			padding: 2px;
			transition: all 0.1s ease 0s;
		}