@font-face {
	font-family: "nunito";
	src: url("Nunito.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "nunito-bold";
	src: url("Nunito.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "baskersville";
	src: url("LibreBakersville.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "baskersville-italic";
	src: url("LibreBakersville-Italic.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: "grape-soda";
	src: url("GrapeSoda.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "caskaydia-cove";
	src: url("CaskaydiaCove.woff2") format('woff2'); /* Internet Explorer */
	font-weight: 400;
	font-style: normal;
}

@keyframes marquee {
	from { transform: translateX(100%);  }
	to   { transform: translateX(-100%); }
}

@keyframes rainbow {
	0%   { color: #ff0000; }
	14%  { color: #ff00de; }
	28%  { color: #2b00ff; }
	42%  { color: #00baff; }
	57%  { color: #00ff53; }
	71%  { color: #d4ff00; }
	85%  { color: #ff6300; }
	100% { color: #ff0000; }
}

@keyframes pageLoad {
	from { opacity: 0;   }
	to   { opacity: 100; }
}

:root {
	--color-text: #fcedf2;
	--color-bg: #000000;
	--color-fg: #1f1a2d;
	--color-highlight: #bee2ff;
	--color-accent: #f87424;
	--color-secondary: #a5267f;
	--color-alert: #ff6361;
	/* typically: 1rem = 16px */
}

body {
	background: var(--color-bg);
	font-family: "nunito";
	overflow-x: hidden;
	animation: 0.5s pageLoad ease-in;
}

p, h1, h2, h3, h4, ol, ul {
	color: var(--color-text);
	text-shadow: 0 0.07em rgba(146, 232, 255, 0.4);

	a {
		text-wrap: nowrap;
	}
}

p, li {
	font-size: 1.5rem;
}

h1, h2, h3, h4 {
	font-family: "grape-soda";
}

h1 {
	font-size: 5.625rem;
	margin-bottom: 2%;
}

h2 {
	font-size: 3.75rem;
	margin-bottom: 1%;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 1.5rem;
}

b {
	font-family: "nunito-bold"
}

button {
	color: var(--color-text);
	font-family: "nunito", Serif;
	font-size: 1.875rem;
	background-color: black;
	transition: all 0.3s ease 0s;
	border: 3px solid orange;
}
button:hover {
	color: var(--color-bg);
	background: var(--color-accent);
	border: 3px solid var(--color-accent);
	transition: all 0.3s ease 0s;
}

table, tr, th {
	color: var(--color-text);
	border: 1px solid var(--color-text);
	font-family: "bitter", Serif;
	padding: 5px;
	text-align: left;
}

a {
	color: var(--color-text);
	position: relative;
	text-decoration: none;
	text-shadow: 0 0.07em rgba(146, 232, 255, 0.4);
	cursor: pointer;
	z-index: 1;
	transition: all 0.3s ease 0s;
}
a:hover {
	color: var(--color-bg);
	text-shadow: 0 0.07em #852429;
	transition: all 0.3s ease 0s;
}
a::before
{
	content: '';
	background-color: var(--color-accent);
	position: absolute;
	left: 0;
	bottom: 0.0em;
	width: 100%;
	height: 0.3em;
	z-index: -1;
	transition: all 0.3s ease 0s;
}
a:hover::before {
	height: 100%;
	bottom: 0;
	transition: all 0.3s ease 0s;
}

::selection {
	background: var(--color-highlight);
	color: var(--color-bg);
	text-shadow: 0 0.07em #558ABB;
}

.pixel { /* no antialiasing */
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Universal support since 2021   */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.highlight {
	border: 4px solid var(--color-secondary);
	border-radius: 1px;
	transition: all 0.3s ease 0s;
}
.highlight:hover {
	border: 4px solid var(--color-accent);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.wallpaper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1000;
}

.hidden {
	color: transparent;
	text-shadow: 0 0 transparent;
	background: var(--color-fg);
	transition: 0.5;
}
.hidden:hover {
	color: unset;
	text-shadow: unset;
	background: unset;
	transition: 0.5;
}

.glow {
	filter: blur(2px) brightness(1.5);
	border-radius: 0.5%;
}

.player-frame {
	position: fixed;
	width: 102px;
	height: 127px;
	left: 0;
	bottom: 0;
	padding: 3px;
	margin: 0.5%;
	border: double;
	border-color: pink;
}

.exit {
	position: fixed;
	margin-right: 0; margin-left: -4px; margin-top: 5px; margin-bottom: 0px;
	right: 0; left: 0; top: 0; bottom: 0;
	width: 108px;
	height: 48px;
}
a:has(.exit) {
	z-index: 999;
}

/* old custom cursors */
/**/
/*body {*/
/*	cursor: url("cur_default.cur"), auto;*/
/*}*/
/**/
/*p, h1, h2, h3, h4, table, li {*/
/*	cursor: url("cur_text.cur"), auto;*/
/*}*/
/**/
/*a, button, .clickable {*/
/*	cursor: url("cur_pointer.cur"), auto;*/
/*}*/
/**/
