body {
	background-image: url("sunset.gif");
	background-size: cover;
	text-align: center;
	margin: auto;
}

p, h1, h2, h3, h4, li {
	color: orange;
}

a {
	text-decoration: none;
}

.enter {
	text-decoration: underline overline;
	text-decoration-style: single;
	text-decoration-color: red;
	font-size: 60px;
	transition: 1s;
}
	.enter:hover {
		text-decoration-style: double;
		text-decoration-color: orange;
		font-size: 70px;
		transition: 1s;
		padding: 50px;
	}

.notes {
	text-align: left;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 19%;
	padding: 15px;
}