@font-face {
    font-family: "WeThePeople";
    src: url("WeThePeople.ttf") format('embedded-opentype'), /* Internet Explorer */
         url("WeThePeople.ttf") format('woff2'),             /* Super Modern Browsers */
         url("WeThePeople.ttf") format('woff'),              /* Pretty Modern Browsers */
         url("WeThePeople.ttf") format('truetype'),          /* Safari, Android, iOS */
         url("WeThePeople.ttf") format('svg');               /* Legacy iOS */
    font-weight: 500;
    font-style: normal;
}

body {
	text-align: center;
}

a {
	font-family: 'CaskaydiaCove';
}

.main {
	width: 50%;
	height: 40%;
	margin: auto;
	margin-top: 10%;
	display: grid;
	grid-template-areas:
		"header header header"
		"enter  enter  terms"
		"warn   warn   warn"
		"ad     ad     ad";
}

.box {
	border: 3px solid white;
	border-radius: 9px;
	padding: 3px;
	margin: 3px;
	background: black;
}

.terms {
	font-family: 'WeThePeople';
	font-size: 40px;
}

.webrings {
	font-family: 'CaskaydiaCove';
	font-size: 14px;
	display: inline-block;
	background: black;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	overflow: hidden;
}

.webring {
	display: inline-block;
	margin-right: 5px;
	width:150px;
}

