.title-container {
	width: 100%;
	top: 0;
}

	.title-bg{
		width: 1512px;
		position: relative;
		right: 0;
		top: 0;
		z-index: 0;
	}

	.title-logo {
		width: 834px;
		filter: drop-shadow(0 0 0.8rem orange);
		position: absolute;
		left: 657px;
		top: 243px;
		z-index: 1;
	}

	.title-sky {
		width: 1326px;
		position: absolute;
		left: 99px;
		top: 6px;
		z-index: 1;
	}

	.title-light {
		width: 246px;
		position: absolute;
		left: 318px;
		top: 357px;
		z-index: 3;
	}

	.scroll-indicator {
		position: absolute;
		display: none;
		width: 100%;
		text-align: center;
		top: 92%;
		z-index: 3;
	}

.main {
	width: 95%;
	margin: auto;
	display: flex;
	margin-top: -8%;
}

.intro {
	width: 40%;
	margin-top: -5%;
	margin-left: 0;
	margin-right: 0;
	z-index: 2;
}

.news {
	width: 65%;
	height: 10%;
	margin-left: 0;
	z-index: 299;
	border-top: solid var(--color-secondary) 9px;
	border-bottom: solid var(--color-secondary) 9px;
	background-color: var(--color-fg);
}

	.news-title {
		background: repeating-linear-gradient(
			55deg,
			var(--color-secondary),
			var(--color-secondary) 20px,
			var(--color-fg) 20px,
			var(--color-fg) 40px
		);
		margin-left: 0;
		margin-bottom: 0;
		padding: 10px;
		padding-top: calc(10px + 0.5em);
		letter-spacing: 0.5em;
		text-align: center;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}





