.title-container {
	width: 100%;
	margin-bottom: -10%;
	overflow: hidden;
	float: left;
}

@media (min-width: 1000px) {
	.title-container {
		margin-left: calc(1512px - 100vw);
	}
}

.title-bg {
	width: 1512px;
	position: relative;
	right: 0;
	top: 0;
	z-index: 0;
}

.title-logo {
	width: 834px;
	filter: drop-shadow(0 0 0.3rem rgba(247, 125, 22, 1.0));
	position: relative;
	left: 41em;
	top: -41.5em;
	z-index: 1;
}

.title-sky {
	width: 1326px;
	filter: drop-shadow(0 0 0.3rem rgba(247, 255, 74, 0.7));
	position: absolute;
	left: 4em;
	top: 0.3em;
	z-index: 1;
}

.title-light {
	width: 246px;
	/*filter: drop-shadow(0 0 0.1rem orange);*/
	position: absolute;
	left: 18.5em;
	top: 22em;
	z-index: 3;
	animation: flicker 1s infinite;
}

.scroll-indicator {
	position: absolute;
	display: none;
	width: 100%;
	text-align: center;
	font-family: grape-soda;
	top: 92%;
	z-index: 3;
}

.main {
	width: 95%;
	height: 20%;
	min-height: 20%;
	margin: auto;
	display: flex;
}

.intro {
	width: 40%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	right: 0;
	z-index: 2;
}

.intro-title {
	text-align: left;
	width: 4em;
	height: 6rem;
	line-height: 6rem;
	border: 6px solid var(--color-secondary);
	padding-left: 20%;
	margin-left: -20%;
	text-wrap: nowrap;
	background: var(--color-bg);
	margin-top: 0;
}

.intro-marquee {
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(6rem + 6px);
	/*background: var(--color-fg);*/
	/*border: 3px solid var(--color-secondary);*/
	margin-left: -9%;
	color: white;
	font-family: caskaydia-cove;
	font-style: italic;
	font-size: 25px;
	z-index: -1;
	transform: scaleY(1.1);
}

.news {
	width: 60%;
	height: 200%;
	max-height: 200%;
	margin-left: 0;
	margin-top: 0%;
	left: 0;
	z-index: 10;

	#progress {
		margin-left: auto;
		margin-right: 0;
		margin-top: -9px;
		margin-bottom: 0;
		width: 92%;
		height: 15vmin;
		background: var(--color-fg);
		border: 9px var(--color-secondary) solid;
		border-right: 0;
		display: flex;

		.project {
				height: 90%;
				aspect-ratio: 1/1;
				display: flex;
				justify-content: center;
				align-items: center;
				/* background set by JS */
				border-radius: 50%;
				border: 2px solid var(--color-highlight);
				margin: 6px;
				margin-bottom: 12px;

			.text {
				text-align: center;
				text-shadow: /* used for outline */
					1px 1px 0 var(--color-fg),
					-1px 1px 0 var(--color-fg),
					-1px -1px 0 var(--color-fg),
					1px -1px 0 var(--color-fg);
				font-size: 18px;
			}
		}
	}
}

.news-entries {
	border-top: solid var(--color-secondary) 9px;
	border-bottom: solid var(--color-secondary) 9px;
	background-color: var(--color-fg);
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
}

.news-title {
	background: repeating-linear-gradient(
	55deg,
	var(--color-secondary),
	var(--color-secondary) 20px,
	var(--color-fg) 20px,
	var(--color-fg) 40px
	);
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 0.75rem;
	letter-spacing: 0.5em;
	text-align: center;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.news-entry {
	min-width: 300px;
	width: 30%;
	max-height: 100%;
	padding-left: 2px;
	padding-right: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.news-entry h1{
	font-size: 32px;
	text-align: center;
	text-wrap: nowrap;
	margin: 0;
	margin-top: -5%;
}

.news-entry img {
	min-width: 95%;
	max-width: 95%;
	min-height: 55%;
	max-height: 55%;
	object-fit: contain;
}

.news-entry p {
	font-size: 14px;
}


.news-footer > a > p {
	font-size: 16px;
	margin-top: 0.3rem;
}

.news-footer > hr {
	border: 3px solid var(--color-text);
	margin: auto;
	margin-left: 1%;
	margin-right: 1%;
	height: 8em;
}

@media (max-width: 1200px) {
	.news-footer > h1 {
		font-size: 30px;
	}
}

.buttons {
	width: 100%;
	border-top: 6px solid var(--color-secondary);
	border-bottom: 6px solid var(--color-secondary);

	a::before {
		height: 0;
	}
}

.tiles {
	min-width: 55%;
	max-width: 55%;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	row-gap: 2%;
	column-gap: 2%;
}

.tile {
	border: 3px solid rgba(0,0,0,0);
}
.tile:hover {
	border: 3px solid var(--color-accent);
}

.tile > img {
	min-width: 240px;
	max-width: 240px;
	bottom: 0;
}

.tile > h1 {
	margin-top: -10%;
	text-align: center;
	font-size: 60px;
}

#chattable {
	min-width: 33%;
	max-width: 33%;
	margin: 6px;
	margin-right: 2%;
}

.webrings {
	min-width: 11%;
	background: var(--color-fg);
	padding-top: 6em;
	padding-bottom: 6em;
	padding-right: 1em;
	margin: auto;
	margin-left: -0.5%;
	border: 3px solid var(--color-secondary);
	border-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;

	h1 {
		font-size: 26px;
		text-align: center;
		text-decoration: underline;
	}
		
	div {
		font-family: caskaydia-cove;
		font-size: 14px;
		text-align: center;

		a {
			color: white;
		}
		a:hover {
			text-decoration: underline;
		}
		a::before {
			width: 0;
		}
	}
}

.footer {
	font-family: caskaydia-cove;
	font-size: 16px;
	text-align: center;
	bottom: 0;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
