body {
	background-image: url("bg.gif");
	background-attachment: fixed;
	background-position: center;
	overflow-x: hidden;
}

.welcome {
	background-image: url("welcome_bg.jpg");
	overflow: hidden;
}

	.welcome-text {
		width: 100%;
		height: 5px; /* idk why this works, but it does */
		font-size: 60px;
		font-family: "BitterThick";
		margin-top: 0;
		white-space: nowrap;
		animation: rainbow 2s infinite linear;
	}

.main {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	/* margin-top: 50px; */
	/* margin-bottom: -40px; */
	background: black;
	border: double pink;
	padding: 8px;
}

.side {
	width: 20%;
	padding: 15px;
}

.buttons {
	position: relative;
	margin-top: 0px;
	margin-bottom: -45px;
	width: 100%;
	height: 86px;
	animation: marquee 30s linear infinite;
	overflow: hidden;
}

.banner {
	display: block;
	margin-top: 80px;
	margin-bottom: 75px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background: black;
}

.the-thing {
	background: black;
	width: 250px;
	border: 1px white solid;
	margin: 5px;
}

.machinations {
	background: black;
	border: 2px gray solid;
	height: 500px;
}
	.machinations-subtitle {
		font-size: 10px;
		font-style: italic;
		margin-bottom: -20px;
	}
	.machinations-headline {
		font-size: 22px;
	}
	.machinations-date {
		font-size: 13px;
		text-align: center;
		margin-top: -20px;
	}

.entrance {
	display: inline-block;
	width: 43%;
	padding: 14px;
	border: 4px solid black;
	border-radius: 1px;
	letter-spacing: auto;
	transition: all 0.3s ease 0s;
}
	.entrance:hover {
		border: 4px solid orange;
		letter-spacing: 3px;
		transition: all 0.3s ease 0s;
	}

	.title {
		font-size: 36px;
		text-align: center;
	}

.last-update {
	background: black;
	border: 2px gray solid;
	margin-top: 50px;
}
	.day-count {
		font-size: 40px;
		font-family: 'CaskaydiaCove';
		margin-bottom: -20px;
		margin-top:-20px;
	}

.important-videos {
	background: #200508;
	border: 1px solid #200508;
	border-radius: 25px;
	overflow: hidden;
	width: 100%;
	border: pink solid 1px;
}

.threshold {
	padding: 3px;
	cursor: none;
}

.webring {
	display: inline-block;
	background: black;
	border: 3px solid orange;
	padding-right: 3px;
	padding-left: 3px;
	height: 120px;
}

.wring {
	display: inline-block;
}

.him {
	position: absolute;
	margin-top: 0px;
	margin-left: 80%;
	width: 90px;
}

.john {
	position: relative;
	transform: translateX(90%);
	transition: 0.8s;
}
	.john:hover {
		transform: translateX(-95%);
		transition: 0.8s;
	}

