
body {
	background-image: url("bg.png");
	text-align: center;
	position: absolute;
	right: 0%; left: 0%; top: 0%; bottom: 20%;
	margin: auto;
}

p {
	color: white;
	font-family: 'Bitter', Comic Sans MS;
	font-size: 24px;
}

b {
	text-decoration: underline;
}

.bg {
	position: fixed;
	left: 6.5%;
	height: 100%;
	z-index: -1000;
}

.projects {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.project {
	display: inline-block;
	margin: 25px;
	min-width: 40%;
	height: 100%;
	top: 0;
}
	.project-title {
		font-size: 36px;
		top: 0px;
	}
	.project-description {
		font-size: 16px;
		white-space: normal;
	}
	.project-status {
		font-size: 18px;
		font-family: "CaskaydiaCove";
		text-align: left;
	}

.entry {
	margin: auto;
	padding: 20px;
	background: rgba(0, 0, 0, 0.4);
	width: 50%;
	text-align: left;
}
	
	.entry img {
		width: 100%;
	}