* {
	background: #1f1a2d;
	font-family: 'nunito';
	color: white;
}

img {
	max-height: 70%;
	max-width: 90%;
}

p, span {
	font-size: 1.5rem;
}

article {
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

.flex {
	display: flex;
}

.rounded-full {
	max-width: 20%;
	max-height: 20%;
	border-radius: 1rem;
	margin-right: 1rem;
}

.border-slate-300 {
	border-color: lightblue;
}

.w-14.h-14.rounded-full { /* profile picture */
	min-width: 8vw;
	max-width: 8vw;
	min-height: 8vw;
	max-height: 8vw;
}

.flex.gap-2 {
	display: grid;
	grid-auto-flow: row dense;
}

span.text-sm {
	display: none;
}
