.site-box {
	text-align: center;
	background-image: url("https://nongmotrash.nekoweb.org/nongmotrash.net/cover.gif");
	background-size: contain;
	border: 4px solid #a5267f;
}

.site-box img.screenshot, .site-box div.sitefeature {
	display: none;
}

.site-box > a > p {
	top: 86%;
	height: 14%;
	color: #f87424;
	font-size: 20px;
	font-family: Serif;
	font-weight: bold;
	background: black;
}
.site-box > a > p::after {
	content: "hi";
}

.site-box > a > span {
	display: none;
}


/* POST BOX */


.post-box {
	background-color: #1f1a2d;
	border: 4px solid #a5267f;
	border-radius: 0;
	padding: 15px;
	color: white;
	font-weight: normal;
}

.post-box .post-title {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}
