body {
	background-image:url('bg.jpg');
	display: block;
}

.note {
	margin-top: -2%;
	margin-bottom: 2%;
	font-size: 10px;
}

.category {
	display: inline;
	text-decoration: underline;
	margin: 3px;
	padding: 3px;
	white-space: nowrap;
}
	.category:hover {
		color: orange;
		transition: all 0.3s linear;
	}

	.category-divider {
		display: inline;
	}

.tracks {
	width: 60%;
	margin-left: 25%;
	margin-right: 25%;
}

	.track {
		font-size: 30px;
		text-align: left;
	}
