.content {
	margin-top: 4rem;
	min-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3rem 0;
	justify-content: left;
}

.artist{
	width: 100%;
	height: 15rem;
	max-height: 15rem;
	display: flex;
	flex-direction: row;
	justify-content: left;
	background: var(--color-fg);
	overflow-x: scroll;
	overflow-y: hidden;

	h1 {
		height: 100%;
		left: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		font-size: 2rem;
		text-align: center;
		font-family: "nunito";
		text-decoration: underline;
	}
}

.album {
	max-width: 15rem;
	height: 100%;
	margin-right: 3rem;
	margin-left: 0;
	display: flex;
	transition: 0.45s;

	img {
		aspect-ratio: 1/1;
		height: 100%;
	}

	h1 {
		margin-left: 0;
		font-size: 1.6rem;
		font-style: italic;
		text-decoration: none;
		opacity: 0;
		transition: 0.6s;
		background: var(--color-secondary);
	}

	.tracks {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		z-index: 99;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s;

		p {
			white-space: nowrap;
			margin: 0;
			line-height
			font-size: 1.3rem;
			font-style: italic;
			background: var(--color-fg);
		}
	}
}
.album:hover {
	max-width: 33rem;

	h1 {
		opacity: 100;
		transition: 0.3s;
	}

	.tracks {
		opacity: 100;
		pointer-events: auto;
		transition: 0.6s;
	}
}





