
body {
	background-image: url("bg.webp");
	position: absolute;
}

ol, ul {
	text-align: left;
	font-size: 1.25rem;
	font-family: caskaydia-cove;
}

button {
	font-family: caskaydia-cove;
	width: 120px;
	cursor: pointer;
}

.cat-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.cat {
	width: 10%;
	margin-top: 5%;
}

.commandments {
	margin: auto;
	margin-top: 5%;
	width: 50%;
}

.buttons {
	margin: auto;
	width: 50%;
	margin-top:100px;
}

.escape {
	position: fixed;
	margin: 0;
	right: 0; left: 0; top: 0; bottom: 0;
	padding: 10px;
	transition: all 0.1s ease 0s;
}
.escape:hover {
	border: 2px solid var(--color-accent);
	transition: all 0.1s ease 0s;
}
