body {
	font-family: "Comic Sans MS";
	background-image: url("neco_arc.gif");
}

h1 {
	font-size: 34px;
}

p {
	font-size: 16px;
}

.main {
	width: 50%;
	height: 100%;
	padding: 3%;
	margin: auto;
	background: pink;
}

.cutie {
	width: 64px;
}

.letter {
	background: white;
	width: 50%;
	padding: 10%;
	margin: auto;
}

.attention {
	text-align: center;
	font-size: 50px;
	color: red;
}
