body {
	background-image: url("bg.webp");
	background-size: 100px;
}

.main {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	background: black;
	border: 3px pink double;
}

.site-button {
	padding: 3px;
	width: 81px;
	height: 33px;
}

.site-container {
	display: inline-block;
	width: 100%;
	margin-left: 8px;
}

.header {
	font-family: "Bitter", Serif;
	font-size: 32px;
	padding: 3px;
	margin-left: 0;
	margin-right: auto;
}
	
.details {
	font-size: 18px;
	text-align: left;
	margin-right: 10px;
}

.webring {
	font-family: "Bitter", Serif;
	font-size: 24px;
	padding: 8px;
	white-space: nowrap;
}
