.main {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	max-width: 1600px;
	margin: auto;
}

.column {
	width: 45%;
	height: 100%;
	background: black;
}

.category {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background: black;

	h1 {
		font-size: 70px;
		text-decoration: underline;
	}

	.entry {
		border: 3px solid var(--color-secondary);
		padding: 3px;
		margin-left: 1vh;
		margin-bottom: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;

		img {
			width: 100%;
			height: 15em;
			object-fit: contain;
			margin: auto;
		}

		h1 {
			font-size: 35px;
			font-family: "bitter";
			text-align: center;
			text-decoration: none;
			/*min-height: 2.3em;*/
		}

		.details {
			font-size: 14px;
			position: absolute;
			top: -1em;
			right: 0.2em;
			text-align: right;
		}
	}
	.entry:hover {
		border: 3px solid var(--color-accent);
	}
}
