body {
	background-image: url("bg.png");
	padding: 0;
}

p, li, h1, h2, h3, h4, h5, b, details {
	color: white;
	font-family: "baskersville", Times New Roman;
}

p, li {
	font-size: 1.5rem;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	text-indent: 4rem;
}

i {
	font-family: "baskersville-italic";
}

h1 {
	font-size: 3.125rem;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	text-align: center;
}

h3 {
	font-size: 1.75rem;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
}

summary {
	text-decoration: underline;
}

#outline {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	min-width: 20.0%;
	max-width: 23%;
	background: var(--color-bg);
	padding: 6px;
	border: 4px solid var(--color-secondary);
	margin: 6px;
	margin-left: -6px;

	.items {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		a {
			font-family: "baskersville";
			font-size: 1.25rem;
			text-wrap: nowrap;
			color: var(--color-text);
			margin-left: 0;
		}
		a:hover {
			color: var(--color-accent);
			margin-left: 6%;
		}
		a::before {
			width: 0;
		}
	}
}

#content {
	background: black;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	padding-top: 3em;
	margin-top: -3em;
	padding-bottom: 3em;
	margin-bottom: -3em;
	width: 792px;
	max-width: 90%;
}

#footer {
	display: flex;
	justify-content: space-evenly;
	width: 380px;
	max-width: 80%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 0;
	border: 2px solid var(--color-highlight);
	border-bottom: 0;

	p {
		font-family: "nunito";
		text-align: center;
		font-size: 1rem;
		text-indent: 0;
	}
}

.title-img {
	max-width: 75%;
	margin: auto;
}

.annotation {
	font-size: 0.875rem;
	font-style: italic;
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 2px;
}

.sidenote {
	position: relative;
	width: 40%;
	float: right;
	clear: right;
	margin-right: -46%;
	border: 1px solid gray;
	padding: 10px;
	font-size: 1rem;
	line-height: 1.2em;
	text-indent: 0;
	background: black;

	img {
		max-width: 90%;
		margin-bottom: -1em;
	}
}

.transition-marker {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

.signout {
	margin-left: auto;
	margin-right: 0;
	text-align: right;
	margin-top: 50px;
}


@media (width <= 600px) {

	html {
		overflow-x: hidden;
	}

	p {
		font-size: 1.125rem;
		text-indent: 2rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	.annotation, .sidenote {
		font-size: 0.7rem;
	}


}

@media screen and (max-width: 1400px) {
	#outline {
		--item-width: 300px; /* set in JS */
		left: calc(var(--item-width)*-1);
		max-width: 100%; /* bc it pops out on mobile, it can pretty much be as wide as needed */
		transition: 0.5s;

		.items {
			a:hover {
				margin-left: 2%;
			}
		}
	}
	#outline:hover, #outline:active {
		left: 0;
	}
	#outline:after {
		content: "outline";
		background: var(--color-secondary);
		color: white;
		writing-mode: vertical-lr;
		text-align: center;
		transform: rotate(180deg);
		margin-left: 2px;
		margin-right: -2px;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.sidenote {
		right: 0;
		transition: 0.5s;
	}
	.sidenote:hover, .sidenote:active {
		right: 40%;
	}

}

