body {
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	right: 0%; left: 0%; top: 5%; bottom: 5%;
	margin: auto;
}

p {
	border: 3px white;
	font-family: Bitter, Serif;
	font-size: 20px;
}

.title {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 80px;
	margin-top: 35px;
}

.get {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
}

.store {
	padding: 6px;
}

.trailer {
	margin-left: auto;
	margin-right: auto;
}

.description {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 30px;
	width: 50%;
	text-align: left;
}
