body {
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	right: 5%; left: 5%; top: 20%; bottom: 20%;
	font-size: 40px;
	font-family: Monospace;
}

p {
	font-size: 16px;
	color: red;
	text-align: center;
	width: 100%;
	margin-bottom: 30%;
}

#one {
	margin-left: 3rem;
}

#two {
	margin-left: -12rem;
}

#three {
	padding-bottom: 5rem;
}
