@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

body {
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	right: 5%; left: 5%; top: 20%; bottom: 20%;
	margin: auto;
	font-size: 40px;
	font-family: Bitter, Monospace;
}

p {
	font-size: 24px;
}

.escape {
	position: fixed;
	margin: 0;
	right: 0; left: 0; top: 0; bottom: 0;
	padding: 10px;
	transition: all 0.1 ease 0s;
}
.escape:hover {
	border: 2px solid orange;
	transition: all 0.1s ease 0s;
}

.title {
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 80px;
	margin-top: -50px;
}

.get {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
}

.game {
	justify-content: center;
	align-items: center;
	transition: all 0.1s ease 0s;
	padding: 50px;
}
.game:hover {
	border: 3px solid orange;
	font-size: 50px;
	transition: all 0.1s ease 0s;
}
