@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

body {
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	right: 5%; left: 5%; top: 20z%; bottom: 20%;
	font-size: 40px;
	font-family: Bitter, Monospace;
}

p {
	font-size: 24px;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1000;
}

.back {
	position: absolute;
	opacity: 0%;
	left: 62%;
	top: -10%;
	width: 20%;
	height: 35%;
}

.up {
	position: absolute;
	opacity: 0%;
	left: -5%;
	top: -40%;
	width: 50%;
	height: 32%;
}

.left {
	position: absolute;
	opacity: 0%;
	left: -5%;
	top: 20%;
	width: 6%;
	height: 60%;
}